body{
  font-family: monospace;
  background-color: #3a3b3c;

}
.container {
  font-family: monospace;
  background-color: #3a3b3c;

    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .question {
    font-family: monospace;
  background-color: #3a3b3c;

    font-weight: bold;
  }

  h2{
    font-family: monospace;
  background-color: #3a3b3c;

    font-weight: bold;
  }
  