body{
  font-family: monospace;
  background-color: #3a3b3c;
  color: #F9F6EE;

}
.container {
  font-family: monospace;
  background-color: #3a3b3c;
  color: #F9F6EE;

    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .question {
    font-family: monospace;
    background-color: #3a3b3c;
    color: #F9F6EE;

    font-weight: bold;
  }

  h2{
    font-family: monospace;
    background-color: #3a3b3c;
    color: #F9F6EE;

    font-weight: bold;
  }
  